.env
.vscode
__pycache__
.DS_Store
venv
poetry.lock
pyproject.toml

*.tfstate*
*.tfvars
.terraform
*.lock.hcl

demoflageval/*
!demoflageval/lambda_demoflageval.zip
!demoflageval/main.py
!demoflageval/requirements.txt
!demoflageval/utils*

